doctype html
html(lang='ru')
  
  include parts/head.pug

  body(translate="no")
    
    header 
      div.header_left
        a(class="track_events" href="#home")
          p.header_logo flexGate
            br
            span by 
            span mymac
      nav.header_center
        ul
          li
            a(class="track_events" href="#home").active Главная
          li
            a(class="track_events" href="#questions") Вопросы
          li
            a(class="track_events" href="#compare") Сравнение
          li
            a(class="track_events" href="#contacts") Контакты
      div.header_rigth
        img(src="headerdot.svg" loading="lazy" alt="Mobile Menu")

    main

      section(class="track_events" id="home")
        div(class="home_content")
          img.home_content_title(src="macbook.png" alt="Macbook Pro")
          picture
            source(srcset='kenny_stripes.webp' type="image/webp")
            img(class="home_content_defect active" src="kenny_stripes.png" id="kenny_stripes" loading="lazy" alt="Полосы на экране Macbook, поблема Flexgate")
          picture
            source(srcset='kenny_flood.webp' type="image/webp")
            img(class="home_content_defect" src="kenny_flood.png" id="kenny_flood" loading="lazy" alt="Залитая подсветка дисплея Macbook")
          picture
            source(srcset='kenny_broken.webp' type="image/webp")
            img(class="home_content_defect" src="kenny_broken.png" id="kenny_broken" loading="lazy" alt="Разбита матрица дисплея Macbook")
          picture
            source(srcset='kenny_nocam.webp' type="image/webp")
            img(class="home_content_defect" src="kenny_nocam.png" id="kenny_nocam" loading="lazy" alt="Не работает камера Macbook")
          picture
            source(srcset='kenny_nopict.webp' type="image/webp")
            img(class="home_content_defect" src="kenny_nopict.png" id="kenny_nopict" loading="lazy" alt="Нет изображения на экране Macbook")
          div(class="home_content_info")
            //- button(class="track_events bn5" id="home_buy_button" data-hystmodal="#myModal") Заказать
            p(class="home_content_descr active" descr="kenny_stripes") На дисплее Macbook появились полосы, в определенном положении крышки полосы пропадают
            p(class="home_content_descr" descr="kenny_flood") На экран Macbook попала жидкость, появились пятна и потеки на изображении
            p(class="home_content_descr" descr="kenny_broken") Разбился дисплей Macbook, появились трещины на экране, изображение отсутствует или искажено
            p(class="home_content_descr" descr="kenny_nocam") При включении камеры MacBook появляется ошибка - "Нет доступных камер"
            p(class="home_content_descr" descr="kenny_nopict") Пропала подсветка и изображение на дисплее Macbook, в определенных положения крышки изображение может появляться
        div(class="home_selector")
          ul
            li(id="defect_button_a" class="track_events home_defect_button active" defect="kenny_stripes") 
              h3 Полосы на экране
                br
                span На дисплее Macbook появились полосы. В определенном положении крышки полосы пропадают
            li(id="defect_button_b" class="track_events home_defect_button" defect="kenny_flood")
              h3 Залита подсветка
                br
                span На экран Macbook попала жидкость, появились пятна и потеки на изображении
            li(id="defect_button_c" class="track_events home_defect_button" defect="kenny_nopict")
              h3 Черный экран
                br
                span Пропала подсветка и изображение на дисплее Macbook, в определенных положения крышки изображение может появляться
            li(id="defect_button_d" class="track_events home_defect_button" defect="kenny_nocam")
              h3 Проблема камеры
                br
                span При включении камеры MacBook появляется ошибка - "Нет доступных камер"
            li(id="defect_button_e" class="track_events home_defect_button" defect="kenny_broken")
              h3 Разбита матрица
                br
                span Разбился дисплей Macbook, трещины на экране, изображение отсутствует или искажено
          button(id="home_order_button" data-hystmodal="#form_order") Оставить заявку

      section(class="track_events" id="questions")
        div(class="questions_content")

          ul(class="questions_slider_desktop")
            li
              img(src="bart_simpson.png" loading="lazy" alt="Bart Simpson")
              h3 У сына на экране Macbook появились полосы
                br
                br
                span Все дело в шлейфах, которые находятся на сгибе дисплея. Из-за попадания крошек и групных частиц пыли шлейфа ломаются. Это распространенная проблема экрана Macbook под названием Flexgate. Мы можем заменить эти шлейфа, без замены дисплея, и вы сможете сэкономить до 30000
            li
              img(src="doc.png" loading="lazy" alt="Doc")
              h3 Это невозможно! Как вы это делаете?
                br
                br
                span Раньше при любой поломке экрана Macbook приходилось менять дисплей с крышкой целиком - а это больше половины стоимости самого Macbook. Поэтому мы разработали технологию, и теперь мы можем производить именно ремонт дисплея Macbook, а не менять его. Это существенно сокращает стоимость и сроки
            li
              img(src="smegol.png" loading="lazy" alt="Smegol")
              h3 У моей прелести разбился экран, что мне теперь делать?
                br
                br
                span Вместо замены дисплея целиком, мы можем заменить только матрицу Macbook. При этом все компоненты дисплея остаются родные, а значит будет работать TrueTone и подсветка клавиатуры. Вам не нужно будет ждать несколько недель, замена матрицы производится в течении одного дня
            li
              img(src="storm_trooper.png" loading="lazy" alt="Storm Trooper")
              h3 Сломал начальнику макбук, теперь там черный экран, помогите...
                br
                br
                span При переломе шлейфа, который находится в крышке дисплея Macbook, могут появляться “волны” на подсветке, подсветка становится тусклой и неравномерной. При открытии дисплея или в разных положениях подсветка может пропадать. Нет необходимости менять экран целиком. Можно поменять отдельно шлейф подсветки на вашем Macbook в течении четырех часов
            li
              img(src="dimon.png" loading="lazy" alt="Dimon")
              h3 От друзей остался Macbook, у него не работает камера
                br
                br
                span Скорее всего переломился шлейф, который отвечает за работу камеры на Macbook. При этом камера может периодически работать, а потом и вовсе перестать. Мы меняем шлейф камеры макбука и шлейф подсветки парой, чтобы исключить проблемы с подсветкой в дальнейшем
            li
              img(src="marilyn.png" loading="lazy" alt="Marilyn")
              h3 В самолете залили экран Макбука, что можно сделать?
                br
                br
                span Если после попадания влаги на экран Macbook появились разводы и потеки на подсветке, значит влага попала в светорассеивающие пленки, отражатель и световод - все это можно поменять без замены дисплея в течении одного дня. В подарок вы получите полную чистку вашего Макбука внутри и снаружи
            
          ul(class="questions_slider_mobile")
            li
              img(src="bart_simpson.png" loading="lazy" alt="Bart Simpson")
              h3 У сына на экране Macbook появились полосы
                br
                span Все дело в шлейфах, которые находятся на сгибе дисплея. Из-за попадания крошек и групных частиц пыли шлейфа ломаются. Это распространенная проблема экрана Macbook под названием Flexgate. Мы можем заменить эти шлейфа, без замены дисплея, и вы сможете сэкономить до 30000
            li
              img(src="doc.png" loading="lazy" alt="Doc")
              h3 Это невозможно! Как вы это делаете?
                br
                span Раньше при любой поломке экрана Macbook приходилось менять дисплей с крышкой целиком - а это больше половины стоимости самого Macbook. Поэтому мы разработали технологию, и теперь мы можем производить именно ремонт дисплея Macbook, а не менять его. Это существенно сокращает стоимость и сроки
            li
              img(src="smegol.png" loading="lazy" alt="Smegol")
              h3 У моей прелести разбился экран, что мне теперь делать?
                br
                span Вместо замены дисплея целиком, мы можем заменить только матрицу Macbook. При этом все компоненты дисплея остаются родные, а значит будет работать TrueTone и подсветка клавиатуры. Вам не нужно будет ждать несколько недель, замена матрицы производится в течении одного дня
            li
              img(src="storm_trooper.png" loading="lazy" alt="Storm Trooper")
              h3 Сломал начальнику макбук, теперь там черный экран, помогите...
                br
                span При переломе шлейфа, который находится в крышке дисплея Macbook, могут появляться “волны” на подсветке, подсветка становится тусклой и неравномерной. При открытии дисплея или в разных положениях подсветка может пропадать. Нет необходимости менять экран целиком. Можно поменять отдельно шлейф подсветки на вашем Macbook в течении четырех часов
            li
              img(src="dimon.png" loading="lazy" alt="Dimon")
              h3 От друзей остался Macbook, у него не работает камера
                br
                span Скорее всего переломился шлейф, который отвечает за работу камеры на Macbook. При этом камера может периодически работать, а потом и вовсе перестать. Мы меняем шлейф камеры макбука и шлейф подсветки парой, чтобы исключить проблемы с подсветкой в дальнейшем
            li
              img(src="marilyn.png" loading="lazy" alt="Marilyn")
              h3 В самолете залили экран Макбука, что можно сделать?
                br
                span Если после попадания влаги на экран Macbook появились разводы и потеки на подсветке, значит влага попала в светорассеивающие пленки, отражатель и световод - все это можно поменять без замены дисплея в течении одного дня. В подарок вы получите полную чистку вашего Макбука внутри и снаружи

      section(class="track_events" id="compare")
        div(class="compare_content")
          ul(class="compare_list")
            li(class="compare_list title")
              p 
              p(style="text-transform: lowercase; font-size: 22px;") mymac
              span остальные
            li(class="compare_list subtitle")
              p 
                | Выбери
                br
                span свой 
                | сервис
              div.compare_list_start_price
                p ремонт
                p 
                  | от 
                  span 4500
                p рублей
              div.compare_list_start_price
                p ремонт
                p 
                  | от 
                  span(style="color: #EB5757") 40000
                p рублей
            li(class="track_events compare_list odd_item") Замена крышки в сборе с дисплеем
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
            li(class="track_events compare_list") Замена только матрицы Macbook
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events compare_list odd_item") Ремонт матрицы Macbook
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events compare_list") Замена шлейфов матрицы Flexgate
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events compare_list odd_item") Замена шлефа подсветки
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events compare_list") Ремонт подсветки дисплея
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events compare_list odd_item") Замена залитой подсветки
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events compare_list") Замена шлейфа и ремонт камеры
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events compare_list odd_item") Замена резинки дисплея
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events compare_list active") Ремонт проблемы Flexgate
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events compare_list odd_item") Замена защитной планки
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="compare_list") Работает подсветка клавиатуры
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="compare_list odd_item") Сохраняется рабочий True Tone
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="compare_list") Время ремонта
              div
                p(style="color: #1BF24B; opacity: 0.9") В течении дня
              div
                p(style="color: #EB5757") До 45 дней
            li(class="compare_list odd_item") Гарантия
              div
                p(style="color: #1BF24B; opacity: 0.9") 6 месяцев
              div
                p(style="color: #EB5757") -
          button(class="track_events compare_button" id="compare_order_button" data-hystmodal="#form_order") Заказать          
      
      section(class="track_events" id="contacts")
        div.contacts_content
          div(class="working_mode")
            p 
              | Адрес
              br
              span Ростов-на-Дону
              br
              span Пушкинская 100
            p 
              | Часы работы
              br
              span Пн-Сб - 10.00 - 20.00
              br
              span Вс - Выходной
            a(class="track_events contacts_tel" href="tel: +79996963434") +7 999 696 34 34
            ul(class="contacts_social")
              //- img(src="telegram.svg" width="20px" height="20px" loading="lazy" alt="Telegram" data-title="Telegram")
              //- img(src="instagram.svg" width="20px" height="20px" loading="lazy" alt="Instagram" data-title="Instagram")
              li 
                a(class="telegram-link" href="tg://resolve?domain=mymac_rostov" target="_blank" rel="noreferrer noopener")
                  img(src="telegram-icon.svg" width="25px" height="25px" loading="lazy" alt="Написать сообщение в Telegram" data-title="Telegram")
              li 
                a(class="instagram-link" href="https://www.instagram.com/mymac.center/" target="_blank" rel="noreferrer noopener")
                  img(src="instagram-icon.svg" width="29px" height="29px" loading="lazy" alt="Написать сообщение в Instagram" data-title="Instagram")
              li 
                a(class="whatsapp-link" href="https://wa.me/79996963434?text=Здравствуйте!%20У%20меня%20есть%20вопрос -%20" target="_blank" rel="noreferrer noopener" data-title="Whatsapp")
                  img(src="whatsapp-icon.svg" width="25px" height="25px" loading="lazy" alt="Написать сообщение в Instagram")

          include parts/maps.pug

         
          include parts/form_footer.pug
            //- div.contacts_form
            //-   p Задать вопрос
            //-   form(id="telegram_form")
            //-     div(class="user_box")
            //-       input(type="text" name="name" placeholder="Ваше имя" maxlength="20" required="")
            //-       //- label Ваше имя
            //-     div(class="user_box")
            //-       input(type="tel" name="phone" placeholder="Телефон" maxlength="20" required="")
            //-       //- label Телефон
            //-     div(class="user_box")
            //-       input(type="text" name="message" placeholder="Сообщение" maxlength="80" required="")
            //-       //- label Сообщение
            //-     button(class="sendform_button" type="submit" title="Отправляя форму, вы даете согласие на обработку своих данных") Отправить

        //- include parts/maps.pug  

      include parts/modal.pug
    
    footer 
      div.footer_content
        p.footer_descript
          |Сервисный центр mymac является постгарантийным (неавторизованным) сервисным центром. Торговые марки Apple, iPhone, iPod, iPad, Mac, iMac, iTunes, MacBook, iOS, Mac OS, Apple Watch являются зарегистрированным товарными знаками компании Apple Inc.  Обозначение используется не с целью индивидуализации соответствующих услуг по ремонту, а с целью информирования потребителей о предоставляемых услугах в отношении техники правообладателя. Информация представленная на сайте не является публичной офертой. Представленные на сайте товарные знаки используются с правомерной информационной и описательной целью. Для улучшения качества обслуживания, ваш разговор может быть записан. Все права защищены, при любом копировании материала, ссылка на сайт — обязательна.
        p.footer_copyright
          |© 2022 
          span mymac 
          |- Сервисный центр Apple
