- const HEAD_TITLE = "FlexGate - Замена и ремонт матрицы дисплея (экрана) Macbook и iMac в Ростове-на-Дону - Сервисный центр Apple mymac";
- const HEAD_DESCRIPTION = "😊 Замена матрицы дисплея Macbook. Замена шлефов матрицы (Flexgate), замена и ремонт подсветки. Ремонт дисплея Macbook. Замена стекла iMac";
- const HEAD_OG_IMAGE = "https://flaxgate.ru/hand-phone.jpg"
- const HEAD_OG_SITENAME = "Ремонт дисплея и замена матрицы Macbook и iMac"

doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    title= HEAD_TITLE
    meta(name="description" content= HEAD_DESCRIPTION)
    //- meta(name="robots" content="index, follow")
    meta(name="robots" content="noindex")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content= HEAD_TITLE)
    meta(name="twitter:description" content= HEAD_DESCRIPTION)
    meta(name="twitter:image" content= HEAD_OG_IMAGE)
    meta(name="og:url" content="https://flexgate.ru")
    meta(name="og:type" content="website")
    meta(name="og:site_name" content= HEAD_OG_SITENAME)
    meta(name="og:title" content= HEAD_TITLE)
    meta(name="og:description" content= HEAD_DESCRIPTION)
    meta(name="og:image" content= HEAD_OG_IMAGE)
    meta(name="og:image:width" content="1120")
    meta(name="og:image:height" content="584")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    meta(name="msapplication-TileColor" content="#000")
    meta(name="theme-color" content="#000")
    script(async defer data-website-id="bcecfb21-4e46-4946-a196-dc0f5d6f7be1" src="https://umami.internal-test.ru/umami.js")
  body(translate="no")
    header 
      div.header_left
        a(class="track_events" href="#home")
          p.header_logo flexGate
            br
            span by 
            span mymac
      nav.header_center
        ul
          li
            a(class="track_events" href="#home").active Главная
          li
            a(class="track_events" href="#questions") Вопросы
          li
            a(class="track_events" href="#compare") Сравнение
          li
            a(class="track_events" href="#contacts") Контакты
      div.header_rigth
        img(src="headerdot.svg" loading="lazy" alt="Mobile Menu")
    main
      section(class="track_events" id="home")
        div(class="home_content")
          img.home_content_title(src="macbook.png" alt="Macbook Pro")
          picture
            source(srcset='kenny_stripes.webp' type="image/webp")
            img(class="home_content_defect active" src="kenny_stripes.png" id="kenny_stripes" loading="lazy" alt="Полосы на экране Macbook, поблема Flexgate")
          picture
            source(srcset='kenny_flood.webp' type="image/webp")
            img(class="home_content_defect" src="kenny_flood.png" id="kenny_flood" loading="lazy" alt="Залитая подсветка дисплея Macbook")
          picture
            source(srcset='kenny_broken.webp' type="image/webp")
            img(class="home_content_defect" src="kenny_broken.png" id="kenny_broken" loading="lazy" alt="Разбита матрица дисплея Macbook")
          picture
            source(srcset='kenny_nocam.webp' type="image/webp")
            img(class="home_content_defect" src="kenny_nocam.png" id="kenny_nocam" loading="lazy" alt="Не работает камера Macbook")
          picture
            source(srcset='kenny_nopict.webp' type="image/webp")
            img(class="home_content_defect" src="kenny_nopict.png" id="kenny_nopict" loading="lazy" alt="Нет изображения на экране Macbook")
          div(class="home_content_info")
            button(class="track_events bn5" id="home_buy_button" data-hystmodal="#myModal") Заказать
            p(class="home_content_descr active" descr="kenny_stripes") На дисплее Macbook появились полосы, в определенном положении крышки полосы пропадают
            p(class="home_content_descr" descr="kenny_flood") На экран Macbook попала жидкость, появились пятна и потеки на изображении
            p(class="home_content_descr" descr="kenny_broken") Разбился дисплей Macbook, появились трещины на экране, изображение отсутствует или искажено
            p(class="home_content_descr" descr="kenny_nocam") При включении камеры MacBook появляется ошибка - "Нет доступных камер"
            p(class="home_content_descr" descr="kenny_nopict") Пропала подсветка и изображение на дисплее Macbook, в определенных положения крышки подсветка и изображение может появляться
            
        div(class="home_selector")
          ul
            li(class="track_events home_defect_button active" defect="kenny_stripes") Полосы на экране
            li(class="track_events home_defect_button" defect="kenny_flood") Залита подсветка
            li(class="track_events home_defect_button" defect="kenny_broken") Разбита матрица
            li(class="track_events home_defect_button" defect="kenny_nocam") Проблема камеры
            li(class="track_events home_defect_button" defect="kenny_nopict") Нет изображения
      section(class="track_events" id="questions")
        div.questions_content
          ul
            li.element_animation
              img(src="squircle.svg" loading="lazy" alt="Question Card")
              img.questions_user(src="bart_simpson.png" loading="lazy" alt="Bart Simpson")
              h3 
                p У сына на экране Macbook появились полосы
                br
                span Все дело в шлейфах, которые находятся на сгибе дисплея. Из-за попадания крошек и групных частиц пыли шлейфа ломаются. Это распространенная проблема экрана Macbook под названием Flexgate. Мы можем заменить эти шлейфа, без замены дисплея, и вы сможете сэкономить до 30000
            li.element_animation
              img(src="squircle.svg" loading="lazy" alt="Question Card")
              img.questions_user(src="doc.png" loading="lazy" alt="Doc")
              h3 
                p Это невозможно! Как вы это делаете?
                br
                span Раньше при любой поломке экрана Macbook приходилось менять дисплей с крышкой целиком - а это больше половины стоимости самого Macbook. Поэтому мы разработали технологию, и теперь мы можем производить именно ремонт дисплея Macbook, а не менять его. Это существенно сокращает стоимость и сроки
            li.element_animation
              img(src="squircle.svg" loading="lazy" alt="Question Card")
              img.questions_user(src="smegol.png" loading="lazy" alt="Smegol")
              h3 У моей прелести разбился экран, что мне теперь делать?
                br
                span Вместо замены дисплея целиком, мы можем заменить только матрицу Macbook. При этом все компоненты дисплея остаются родные, а значит будет работать TrueTone и подсветка клавиатуры. Вам не нужно будет ждать несколько недель, замена матрицы производится в течении одного дня
            li.element_animation
              img(src="squircle.svg" loading="lazy" alt="Question Card")
              img.questions_user(src="storm_trooper.png" loading="lazy" alt="Storm Trooper")
              h3 Сломал начальнику макбук, теперь там черный экран, помогите...
                br
                span При переломе шлейфа, который находится в крышке дисплея Macbook, могут появляться “волны” на подсветке, подсветка становится тусклой и неравномерной. При открытии дисплея или в разных положениях подсветка может пропадать. Нет необходимости менять экран целиком. Можно поменять отдельно шлейф подсветки на вашем Macbook в течении четырех часов
            li.element_animation
              img(src="squircle.svg" loading="lazy" alt="Question Card")
              img.questions_user(src="dimon.png" loading="lazy" alt="Dimon")
              h3 От друзей остался Macbook, у него не работает камера
                br
                span Скорее всего переломился шлейф, который отвечает за работу камеры на Macbook. При этом камера может периодически работать, а потом и вовсе перестать. Мы меняем шлейф камеры макбука и шлейф подсветки парой, чтобы исключить проблемы с подсветкой в дальнейшем
            li.element_animation
              img(src="squircle.svg" loading="lazy" alt="Question Card")
              img.questions_user(src="marilyn.png" loading="lazy" alt="Marilyn")
              h3 В самолете залили экран Макбука, что можно сделать?
                br
                span Если после попадания влаги на экран Macbook появились разводы и потеки на подсветке, значит влага попала в светорассеивающие пленки, отражатель и световод - все это можно поменять без замены дисплея в течении одного дня. В подарок вы получите полную чистку вашего Макбука внутри и снаружи
      section(class="track_events" id="compare")
        div(class="compare_content")
          ul(class="compare_list")
            li(class="element_animation compare_list title")
              p 
              p(style="text-transform: lowercase; font-size: 22px;") mymac
              span остальные
            li(class="element_animation compare_list subtitle")
              p 
                | Выбери
                br
                span свой 
                | сервис
              div.compare_list_start_price
                p ремонт
                p 
                  | от 
                  span 5000
                p рублей
              div.compare_list_start_price
                p ремонт
                p 
                  | от 
                  span(style="color: #EB5757") 40000
                p рублей
            li(class="track_events element_animation compare_list odd_item") Замена крышки в сборе с дисплеем
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
            li(class="track_events element_animation compare_list") Замена только матрицы Macbook
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list odd_item") Ремонт матрицы Macbook
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list") Замена шлейфов матрицы Flexgate
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list odd_item") Замена шлефов подсветки и камеры
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list") Ремонт подсветки дисплея
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list odd_item") Замена залитой подсветки
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list") Ремонт камеры Macbook
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list odd_item") Замена резинки дисплея
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list") Ремонт проблемы Flexgate
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list odd_item") Замена защитной планки
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list") Сохраняется подсветка клавиатуры
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list odd_item") Сохраняется рабочий True Tone
              div
                img(src="checked.svg" loading="lazy" alt="Checked")
              div
                img(src="unchecked.svg" loading="lazy" alt="Unchecked")
            li(class="track_events element_animation compare_list") Время ремонта
              div
                p(style="color: #1BF24B") В течении дня
              div
                p(style="color: #EB5757") До 45 дней
            li(class="track_events element_animation compare_list odd_item") Гарантия
              div
                p(style="color: #1BF24B") 6 месяцев
              div
                p(style="color: #EB5757") -
          button(class="track_events bn5 compare_button") Заказать          
      section(class="track_events" id="contacts")
        div.contacts_content
          img(src="maps.png" loading="lazy" alt="Карта города")
          div.contacts_block
            ul.contacts_list
              li
                p 
                  | Адрес
                  br
                  span Ростов-на-Дону
                  br
                  span ул.Пушкинская 100
              li
                p
                  | Часы работы
                  br
                  span Пн-Сб 10.00-20.00
                  br
                  span Вс Выходной
              li.contacts_tel
                a(class="track_events" href="tel: +79996963434") +7 999 696 34 34
              li.contacts_social
                img(src="telegram.svg" width="20px" height="20px" loading="lazy" alt="Telegram")
                img(src="instagram.svg" width="20px" height="20px" loading="lazy" alt="Instagram")
            div.contacts_form
              p Задать вопрос
              form(id="telegram_form")
                div(class="user_box")
                  input(type="text" name="name" placeholder="Ваше имя" maxlength="20" required="")
                  //- label Ваше имя
                div(class="user_box")
                  input(type="tel" name="phone" placeholder="Телефон" maxlength="20" required="")
                  //- label Телефон
                div(class="user_box")
                  input(type="text" name="message" placeholder="Сообщение" maxlength="80" required="")
                  //- label Сообщение
                button(class="sendform_button" type="submit" title="Отправляя форму, вы даете согласие на обработку своих данных") Отправить
      //- include parts/modal.pug
    footer 
      div.footer_content
        p.footer_descript
          |Сервисный центр mymac является постгарантийным (неавторизованным) сервисным центром. Торговые марки Apple, iPhone, iPod, iPad, Mac, iMac, iTunes, MacBook, iOS, Mac OS, Apple Watch являются зарегистрированным товарными знаками компании Apple Inc.  Обозначение используется не с целью индивидуализации соответствующих услуг по ремонту, а с целью информирования потребителей о предоставляемых услугах в отношении техники правообладателя. Информация представленная на сайте не является публичной офертой. Представленные на сайте товарные знаки используются с правомерной информационной и описательной целью. Для улучшения качества обслуживания, ваш разговор может быть записан. Все права защищены, при любом копировании материала, ссылка на сайт — обязательна.
        p.footer_copyright
          |© 2022 
          span mymac 
          |- Сервисный центр Apple
