div(class='header_left' data-hystmodal="#myModal")
    img(src="flexgate.svg" alt="Logo")
nav(class='header_navbar')
    ul 
        li(class="menu-item" data-id="home" role="button") Home
        li(class="menu-item" data-id="order" role="button") Order
        li(class="menu-item" data-id="info" role="button") Info
        li(class="menu-item" data-id="about" role="button") About