div(class='section_content')
    //- h2 Как производится ремонт дисплея или замена матрицы:
    ul 
      li 
        img(src="cover_00.png" width="300px" alt="")
        span(class="section_inline_dot_contur") 
          span(class="section_inline_dot")
        dir(class="vertical_line")
        div(class='section_content_info')
          h3 Диагностику
          p Разбирается ваш макбук. Проводится обязательная полная чистка аппарата снутри и снаружи, при необходимости проводится замена термопасты. 
      li 
        img(src="cover_01.png" width="300px" alt="")
        span(class="section_inline_dot_contur") 
          span(class="section_inline_dot")
        dir(class="vertical_line")
        div(class='section_content_info') 
          h3 Извлекаем матрицу
          p На специальном оборудовании происходит автоматическое извлечение несправной матрицы. Специльно изготовленное по нашему заказу оборудование позволяет нам без повреждений извлекать матрицу оставляя все компоненты в нетронутом виде
      li 
        img(src="cover_02.png" width="300px" alt="")
        span(class="section_inline_dot_contur") 
          span(class="section_inline_dot")
        div(class="vertical_line")
        div(class='section_content_info') 
          h3 Проводим ремонт
          p В зависимости от поломки меняется шлейф дисплея или шлейф подсветки или камеры или листы подсветка
      li 
        img(src="cover_03.png" width="300px" alt="")
        span(class="section_inline_dot_contur") 
          span(class="section_inline_dot")
        div(class="vertical_line hide_line")
        div(class='section_content_info') 
          h3 Склейка матрицы
          p Перед склейкой проводим проверку, затем склеиваем и собираем. При необходимости меняем резинку и стеклянную планку
      li(class="single_block")
        button(class="bn5") Заказать