div(class='section_content')
  div(class='section_content_info')
    h1 Ремонт дисплея Вашего Macbook
    h2 Нужен ремонт дисплея или замена матрицы Macbook?
    p Мы поможем Вам значительно сэкономить на замене дисплея. В типовых поломках мы не прибегаем к банальной замене дисплея в сборе с крышкой, так как это весьма дорогостоящая процедура. Именно поэтому мы разработали технологию, которая в совокупности с уникальным оборудованием позволяет нам именно ремонтировать дисплей вашего Macbook, без замены всего дисплея, что сокращает стоимость ремонта почти в два раза!
    button(class='bn5') Задать вопрос
  div(class='section_content_image')
    img(src="macbook.png" alt="")
    img(class="bg_image" src="kenny.png" alt="")
div(class='section_navbar_rigth')
  div(class='vertical_line')
  div(class='section_navbar')
    ul 
      li 
        img(src="telephone.svg" alt="Call")
      li 
        img(src="telegram.svg" alt="Telegram")
      li  
        img(src="whatsapp.svg" alt="Whatsapp")