- const DEFECT_DICT = [
    {
        id: '1',
        title : 'Полосы на экрана',
        image : 'kenny_stripes',
        descr : 'На дисплее Macbook появились полосы, в определенном положении крышки полосы пропадают'
    },
    {
        id: '2',
        title : 'Залита подсветка',
        image : 'kenny_flood',
        descr : 'На экран Macbook попала жидкость, появились пятна и потеки на изображении'
    },
    {
        id: '3',
        title : 'Разбита матрица',
        image : 'kenny_broken',
        descr : 'Разбился дисплей Macbook, появились трещины на экране, изображение отсутствует или искажено'
    },
    {
        id: '4',
        title : 'Проблема камеры',
        image : 'kenny_nocam',
        descr : 'При включении камеры MacBook появляется ошибка - "Нет доступных камер"'
    },
    {
        id: '5',
        title : 'Нет изображения',
        image : 'kenny_nopict',
        descr : 'Пропала подсветка и изображение на дисплее Macbook, в определенных положения крышки подсветка и изображение может появляться'
    },
]