//- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
div(class="container contact-us-section")
  div(class="section-title")
    h2 Остались вопросы
      span Напишите нам
  form(accept="javascript:void(0)" method="POST" action="javascript:void(0)" class="contact-us-form")
    div(class="form-group")
      label(for="inputName") Имя : *
      input(placeholder="ваше имя" type="text" required id="inputName" name="name")
    div(class="form-group")
      label(for="inputEmailAddress") Телефон : *
      input(placeholder="номер телефона" type="tel" required id="inputTelephoneNumber" name="telephoneNumber")
    div(class="form-group")
      label(for="inputComment") Сообщение :
      textarea(placeholder="сообщение" required id="inputComment" rows="2" name="inputMessage")
    div(class="form-group clearfix")
      button(data-id="#accessories-holder" class="red-select-btn model-selector btn-send-message")
        span Отправить
