- const HEAD_TITLE = "FlexGate - Замена и ремонт матрицы дисплея (экрана) Macbook и iMac в Ростове-на-Дону - Сервисный центр Apple mymac";
- const HEAD_DESCRIPTION = "😊 Замена матрицы дисплея Macbook. Замена шлефов матрицы (Flexgate), замена и ремонт подсветки. Ремонт дисплея Macbook. Замена стекла iMac";
- const HEAD_OG_IMAGE = "https://flaxgate.ru/hand-macbook.jpg"
- const HEAD_OG_SITENAME = "Ремонт дисплея и замена матрицы Macbook и iMac"

head
    meta(charset="UTF-8")
    title= HEAD_TITLE
    meta(name="description" content= HEAD_DESCRIPTION)
    meta(name="robots" content="noindex")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content= HEAD_TITLE)
    meta(name="twitter:description" content= HEAD_DESCRIPTION)
    meta(name="twitter:image" content= HEAD_OG_IMAGE)
    meta(name="og:url" content="https://flexgate.ru")
    meta(name="og:type" content="website")
    meta(name="og:site_name" content= HEAD_OG_SITENAME)
    meta(name="og:title" content= HEAD_TITLE)
    meta(name="og:description" content= HEAD_DESCRIPTION)
    meta(name="og:image" content= HEAD_OG_IMAGE)
    meta(name="og:image:width" content="1120")
    meta(name="og:image:height" content="584")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    meta(name="msapplication-TileColor" content="#000")
    meta(name="theme-color" content="#000")
    script(class="metrika_umami" async defer data-website-id="bcecfb21-4e46-4946-a196-dc0f5d6f7be1" src="https://umami.internal-test.ru/umami.js")
    script(class="metrika_yandex" type="text/javascript")
