- 
    let questions_list = [
        {
            title: "У сына на экране Macbook появились полосы", 
            descrypt: "Все дело в шлейфах, которые находятся на сгибе дисплея, из-за попадания крошек и крупных частиц пыли они перетираются. Это распространенная проблема экрана Macbook получила название Flexgate. Мы можем заменить эти шлейфа, без замены дисплея, а вы сможете сэкономить на ремонте до 40000р", 
            url: "bart_simpson.png", 
            alt: "Bart Simpson"
        },
        {
            title: "Это невозможно! Как вы это делаете?", 
            descrypt: "Раньше при любой поломке экрана Macbook приходилось менять дисплей с крышкой целиком - а это больше половины стоимости самого Macbook. Именно поэтому мы разработали собственную технологию, благодаря которой можем производить ремонт дисплея Macbook, а не менять его целиком. Это значительно сокращает стоимость и сроки ремонта", 
            url: "doc.png", 
            alt: "Doc"
        },
        {
            title: "У моей прелести разбился экран, что же мне теперь делать?", 
            descrypt: "Вместо замены дисплея целиком, мы можем заменить именно матрицу Macbook. При этом все компоненты дисплея остаются родные, а значит будет работать и TrueTone и подсветка клавиатуры. Вам не нужно будет ждать несколько недель, замена матрицы производится в течении одного дня", 
            url: "smegol.png", 
            alt: "Smegol"
        },
        {
            title: "Сломал начальнику макбук, теперь там черный экран, помогите...", 
            descrypt: "При переломе шлейфа подсветки, который находится в крышке дисплея Macbook, могут появляться “волны” на подсветке, подсветка становится тусклой и неравномерной. При открытии дисплея или в разных положениях подсветка может пропадать. Нет необходимости менять экран Macbook целиком. Можно поменять отдельно шлейф подсветки на вашем Macbook в течении четырех часов", 
            url: "storm_trooper.png", 
            alt: "Storm Trooper"
        },
        {
            title: "От друзей остался Macbook, но у него не работает камера", 
            descrypt: "Скорее всего переломился шлейф, который отвечает за работу камеры на Macbook. При этом камера может периодически работать. Мы меняем шлейф камеры макбука и шлейф подсветки парой, чтобы исключить проблемы с подсветкой в дальнейшем", 
            url: "dimon.png", 
            alt: "Dimon"
        },
        {
            title: "Мальчик в самолете залил нам водочкой экран Макбука, что можно сделать?", 
            descrypt: "Если после попадания влаги на экран Macbook появились разводы и потеки на подсветке, значит влага попала в светорассеивающие пленки, отражатель и световод - все это можно поменять без замены дисплея в течении одного дня. В подарок вы получите полную чистку вашего Макбука внутри и снаружи", 
            url: "marilyn.png", 
            alt: "Marilyn"
        },
    ];

each item in questions_list
    li
        img(src=item.url loading="lazy" alt=item.alt)
        h3 #{item.title}
            span #{item.descrypt}
