doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
  body 
    header 
      include parts/header.pug
    aside 
      include parts/aside.pug 
    main
      article  
        section(class='section section_one' id="home")
          include parts/section_one.pug
        section(class='section section_two' id="order")
          include parts/section_two.pug
        section(class='section section_three' id="info")
          include parts/section_three.pug
        section(class='section section_four' id="about")
          h1 hello
    footer
      include parts/footer.pug
  include parts/modal.pug
  include parts/modal_order.pug

