@import form.css
@import button.sass
@import flickity.css
@import hystmodal.css
@import '../fonts/coolvetica/coolvetica.css'

@mixin no-scroll-bar()
    &::-webkit-scrollbar
        height: 0
        width: 0

    &::-webkit-scrollbar-thumb
        height: 0
        width: 0

    &::-webkit-scrollbar-track
        height: 0
        width: 0
@mixin custom-scroll-bar()
    &::-webkit-scrollbar
        border-radius: 10px
        height: 10px
        width: 8px

    &::-webkit-scrollbar-thumb
        background: #999
        border-radius: 10px

    &::-webkit-scrollbar-track
        border-radius: 10px



$header-height: 70px

*
    margin: 0
    padding: 0
    border: 0
    outline: none
    box-sizing: border-box
    list-style: none
    text-decoration: none
    // font-family: "Inter", system-ui
    // font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif
    font-family: coolvetica
    font-size: 16px
    color: #A8A9AE

.flickity-viewport
    // height: 900px !important
.flickity-button
    background: transparent
    opacity: 0.3
// .flickity-prev-next-button
//     width: 100px
//     height: 100px
// button.flickity-button.previous
//     left: 0px
.flickity-prev-next-button.previous
    left: -30px
.flickity-prev-next-button.next
    right: -30px
/* icon color */
.flickity-button-icon
    fill: white
/* hide disabled button */
.flickity-button:disabled
    display: none
.flickity-button:hover
    background: none
/* position dots up a bit */
// .flickity-page-dots
//     bottom: -22px
// /* dots are lines */
// .flickity-page-dots.dot
//     height: 4px
//     width: 40px
//     margin: 0
//     border-radius: 0



html
    height: 100%
    background-color: #000

body
    display: grid
    align-items: center
    justify-items: center
    width: 1512px
    min-height: 100%
    margin: 0 auto
    grid-template-areas: "header header" "main main" "footer footer"
    @media screen and (max-width: 600px)
        width: 100%
    
    header
        z-index: 1
        grid-area: header
        display: grid
        align-items: center
        justify-items: center
        grid-template-columns: 1fr 2fr 1fr
        grid-template-rows: 1fr
        grid-column-gap: 0px
        grid-row-gap: 0px
        width: 100%
        height: $header-height
        position: sticky
        top: 0
        background-color: rgba(0, 0, 0, 0.5)
        div.header_left
            margin-top: 23px
            p.header_logo
                font-weight: 300
                font-size: 35px
                line-height: 16px
                text-align: right
                cursor: pointer
                span:nth-child(2)
                    font-size: 9px
                    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif
                span:nth-child(3)
                    font-size: 14px
                    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif
        nav.header_center
            ul
                display: grid
                grid-template-columns: repeat(4, 1fr)
                grid-template-rows: 1fr
                grid-column-gap: 40px
                grid-row-gap: 0px
                li
                    a
                        font-size: 14px
                        text-transform: uppercase
                        letter-spacing: 0.9px
        div.header_rigth
            cursor: pointer
            img
                width: 20px
                height: 20px
        @media screen and (max-width: 600px)
            grid-template-columns: 35% 65%
            grid-template-rows: 1fr
            div.header_left
                margin-top: 12%
                p.header_logo
                    font-size: 30px
                    line-height: 10px
            nav.header_center
                display: none
            div.header_rigth
                margin-right: -65%
    
    main
        grid-area: main
        width: 100%
        margin-top: -($header-height)

        section
            background-color: #000
            height: 100vh
            min-height: 700px
            @media screen and (max-width: 600px)
                height: 80vh
                min-height: 800px
            
        section#home
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: 4fr 1fr
            align-items: center
            justify-items: center
            div.home_content
                display: grid
                align-self: end
                justify-items: center
                position: relative
                img.home_content_title
                    width: 968px
                    height: 569px
                img.home_content_defect
                    display: none
                    position: absolute
                    top: 30px
                    left: 26px
                    width: 912px
                    opacity: 65%
                img.home_content_defect.active
                    display: block
                div.home_content_info
                    display: grid
                    grid-template-columns: 1fr 5fr
                    align-items: center
                    width: 630px
                    height: 32px
                    margin-top: -208px
                    overflow: hidden
                    // button
                    //     height: 25px
                    //     margin-left: 14px
                    //     border-radius: 5px
                    //     background: #1D1E22
                    //     font-size: 11px
                    //     text-transform: uppercase
                    //     z-index: 1
                    //     color: #EB5B00
                    button.active
                        border: solid 1px #ED5900
                    p.home_content_descr
                        display: none
                    p.home_content_descr.active
                        display: grid
                        align-items: center
                        font-size: 11px
                        font-weight: 300
                        letter-spacing: 0.5px
                        animation: text 20s infinite linear
                        padding-left: 100%
                        white-space: nowrap
                        @keyframes text
                            0%
                                transform: translate(0, 0)
                            100%
                                transform: translate(-95%, 0)
            div.home_selector
                display: grid
                align-self: start
                justify-items: center
                margin-top: 50px
                ul
                    display: grid
                    grid-template-columns: repeat(5, 1fr)
                    grid-template-rows: 1fr
                    align-items: center
                    justify-items: center
                    li
                        display: grid
                        align-items: center
                        justify-items: center
                        width: 155px
                        height: 32px
                        border-radius: 8px
                        background-color: #131318
                        font-size: 12px
                        text-transform: uppercase
                        margin: 0px 7px
                        cursor: pointer
                        transition: 0.15s linear
                        h3
                            font-size: 14px
                            font-weight: 400
                            letter-spacing: 0.3px
                            span
                                display: none
                            
                        &:hover
                           filter: drop-shadow(0px 0px 5px rgba(238, 90, 0, 0.75))
                            // opacity: 1
                    li.active
                        filter: drop-shadow(0px 0px 5px rgba(238, 90, 0, 0.75))
                button
                    width: 300px
                    height: 50px;
                    margin-top: 30px;
                    background: #131318;
                    border-radius: 11px;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.4px;
                    text-transform: uppercase;
                    cursor: pointer;
                    opacity: 0.9;
                    color: #d35000d4
                    // background: rgba(20, 20, 20, 0.9);
                    &:hover
                        opacity: 1
            @media screen and (max-width: 600px)
                // padding-top: 30%
                padding-top: $header-height
                margin-top: $header-height
                grid-template-rows: 35% 65%
                div.home_content
                    align-self: center
                    img.home_content_title
                        width: 95%
                        height: auto
                    img.home_content_defect
                        width: 90%
                        left: 5%
                        top: 5%
                    div.home_content_info
                        display: none
                div.home_selector
                    margin-top: 3%
                    width: 100%
                    ul
                        display: grid
                        grid-template-columns: 23% 23% 12% 34%
                        grid-template-rows: 28% 25% 30%
                        gap: 2% 1.7%
                        grid-template-areas: "a a a c" "b b b c" "d d e e"
                        align-items: center
                        justify-items: unset
                        width: 100%
                        height: 300px
                        padding: 0 8%
                        li
                            width: 100%
                            height: 100%
                            border-radius: 11px
                            text-align: left
                            padding: 0px 5%
                            padding-left: 10%
                            h3
                                font-size: 13px
                                font-weight: 400
                                line-height: 16px
                                letter-spacing: 0.3px
                                opacity: 0.9
                                span
                                    display: block
                                    margin-top: 6px
                                    font-size: 12px
                                    font-weight: 300
                                    line-height: 95%
                                    text-transform: initial
                                    letter-spacing: 0.3px
                                    opacity: 0.6
                        li#defect_button_a
                            grid-area: a
                        li#defect_button_b
                            grid-area: b
                        li#defect_button_c
                            grid-area: c
                        li#defect_button_d
                            grid-area: d
                        li#defect_button_e
                            grid-area: e
                button#home_order_button
                    width: 80%
                    height: 50px
                    margin-top: -30px
                    background: #131318
                    border-radius: 11px
                    font-size: 13px
                    font-weight: 400
                    letter-spacing: 0.4px
                    text-transform: uppercase
                    cursor: pointer
                    opacity: 0.7
                button.bn5.active:before
                    opacity: 1 // чтобы кнопочка светилась
                    transition: opacity 3s
                   
        section#questions
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: 1fr
            align-items: center
            justify-items: center
            div.questions_content
                ul.questions_slider_mobile
                    display: none
                ul.questions_slider_desktop
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: 1fr 1fr 1fr
                    align-items: center
                    justify-items: center
                    grid-column-gap: 40px
                    grid-row-gap: 40px
                    li
                        display: grid
                        grid-template-columns: 30% 70%
                        align-items: center
                        justify-items: center
                        padding: 0 15px 0 0
                        // position: relative
                        width: 520px
                        height: 180px
                        // box-shadow: inset 0px 0px 2px #828282
                        border-radius: 20px
                        background: rgba(20, 20, 20, 0.9)
                        img
                            width: 120px
                        h3
                            font-size: 14px
                            font-weight: 500
                            letter-spacing: 0.8px
                            line-height: 15px
                            // opacity: 0.9
                            text-transform: uppercase
                            span
                                font-size: 12px
                                font-weight: 300
                                letter-spacing: 1px
                                opacity: 0.85
                                // line-height: 14px
                                // text-transform: revert

                        // img.questions_user
                        //     position: absolute
                        //     top: 10%
                        //     left: 3%
                        //     width: 135px
                        // h3
                        //     position: absolute
                        //     width: 60%
                        //     left: 35%
                        //     top: 7%
                        //     line-height: 15px
                        //     font-size: 13px
                        //     text-transform: uppercase
                        //     color: #000
                        //     p
                        //         color: #000
                        //         font-size: 16px
                        //         font-weight: 400
                        //         letter-spacing: 0.5px
                        //         margin-bottom: -11px
                        //     span
                        //         font-size: 16px
                        //         text-transform: none
                        //         font-weight: 300
                        //         letter-spacing: 0.5px
                        //         color: #000
                
            @media screen and (max-width: 600px)
                div.questions_content
                    width: 350px
                    ul.questions_slider_desktop
                        display: none
                    ul.questions_slider_mobile
                        display: block
                        width: 100%
                        li
                            // background: rgba(19, 19, 24, 0.3)
                            border-radius: 20px
                            height: 500px
                            margin: 0 15px
                            padding: 10px 35px
                            box-shadow: inset 0px 0px 1px #828282
                            img
                                display: block
                                margin: 0 auto
                                margin-top: 24px
                                width: 35%
                            h3
                                padding: 8px
                                margin-top: 8px
                                font-size: 16px
                                font-weight: 400
                                line-height: 18px
                                letter-spacing: 0.5px;
                                text-transform: uppercase
                                opacity: 0.9
                                span
                                    display: block
                                    margin-top: 16px
                                    font-weight: 300
                                    text-transform: initial
                                    letter-spacing: 0.5px
                                    opacity: 0.6

        section#compare
            display: grid
            align-items: center
            justify-items: center
            div.compare_content
                display: grid
                align-items: center
                justify-items: center
                width: 900px
                margin: 0 auto
                margin-top: 50px
                ul
                    width: 100%
                    li
                        display: grid
                        grid-template-columns: 2fr 1.5fr 1.5fr
                        height: 35px
                        align-items: center
                        font-size: 14px
                        text-transform: uppercase
                        padding-left: 30px
                        padding-right: 50px
                        cursor: pointer
                        letter-spacing: 0.9px
                        opacity: 0.9
                        &:hover
                            // color: #EE5A00
                            font-size: 15px
                            opacity: 0.9
                        div
                            display: grid
                            align-items: center
                            height: 100%
                            background: rgba(0, 0, 0, 0.09)
                            margin: 0 30px
                            img
                                margin: 0 auto
                            p
                                text-align: center
                                font-size: 14px
                    li.active
                        color: #EE5A00 !important
                        font-size: 15px
                    li.compare_list.title
                        height: 55px
                        background: linear-gradient(180deg, #3F3F3E 0%, #2C2C2C 100%)
                        text-align: center
                        // font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif !important
                    li.compare_list.subtitle
                        height: 88px
                        background: linear-gradient(180deg, #333333 0%, #202020 100%)
                        opacity: 0.8
                        p
                            font-size: 24px
                            font-weight: 400
                            span
                                font-size: 24px
                                font-weight: 400
                                color: #EE5A00
                        div.compare_list_start_price
                            padding: 10px 10px
                            p:nth-child(1)
                                font-size: 11px
                                text-align: start
                            p:nth-child(2)
                                font-size: 24px
                                color: #3f3f3e
                                font-size: 20px
                                font-weight: 500
                                text-align: center
                                span
                                    font-size: 30px
                                    color: #1BF24B
                            p:nth-child(3)
                                font-size: 11px
                                text-align: end
                    li.compare_list.odd_item
                        background: #333333
                button.compare_button
                    // margin-top: 35px
                    // margin-left: 65px
                    // width: 162px
                    // height: 40px
                    // background: #363636
                    // border-radius: 10px
                    // text-transform: uppercase
                    // cursor: pointer
                    // letter-spacing: 0.9px
                    // opacity: 0.9
                    // color: #d35000d4
                    width: 300px
                    height: 50px
                    margin-top: 30px
                    background: #131318
                    border-radius: 11px
                    font-size: 16px
                    font-weight: 400
                    letter-spacing: 0.4px
                    text-transform: uppercase
                    cursor: pointer
                    opacity: 0.9
                    color: #d35000d4
                    &:hover
                        opacity: 1
                button.bn5:before
                    opacity: 0 // чтобы кнопочка светилась
            @media screen and (max-width: 600px)
                div.compare_content
                    width: 100%
                    ul.compare_list
                        width: 90%
                        li
                            color: dimgrey;
                            font-size: 12px
                            line-height: 14px
                            letter-spacing: 0.9px
                            grid-template-columns: 51% 38% 38%
                            padding-left: 10px
                            padding-right: 75px
                            height: 34px
                            // text-transform: none
                            font-weight: 300
                            div
                                margin: 0
                                background: none
                                img
                                    width: 12px
                                p
                                    font-size: 12px
                                    opacity: 60%
                        li.compare_list.odd_item
                            background-color: rgba(51, 51, 51, 0.2) !important
                            // background-color: white
                        li.compare_list.title
                            opacity: 50%
                            height: 40px
                            background: rgba(51, 51, 51, 0.3) !important
                            p:nth-child(2)
                                font-size: 20px !important
                            span
                                font-size: 14px !important
                                margin-top: 3px
                                // margin-top: 3px;
                        li.compare_list.subtitle
                            background: none
                            height: 60px
                            p
                                font-size: 18px
                                line-height: 16px;
                                text-transform: uppercase;
                                span
                                    font-size: 18px
                            div.compare_list_start_price
                                p:nth-child(1)
                                    font-size: 8px
                                p:nth-child(2)
                                    font-size: 16px
                                    span
                                        font-size: 20px
                                p:nth-child(3)
                                    font-size: 8px
                                  
                    button.compare_button
                        margin-left: 0px
                        font-size: 13px;
                                        
        section#contacts
            display: grid
            align-items: center
            justify-items: center
            padding: 0 15%
            div.contacts_content
                position: absolute
                display: grid
                align-items: center
                justify-items: center
                width: 1063px
                height: 367px
                .working_mode
                    position: absolute
                    z-index: 10
                    background: white
                    background: rgba(255, 255, 255, 0.6)
                    height: 85%
                    width: 212px
                    top: 8px
                    left: 10px
                    border-radius: 20px
                    padding: 15px 30px
                    p
                        margin-top: 15px
                        color: #000
                        span
                            color: #000
                            opacity: 0.8
                            font-size: 18px
                            font-weight: 300
                    a.contacts_tel
                        display: block
                        margin-top: 30px
                        color: #000
                        font-size: 20px
                        font-weight: 300
                    ul.contacts_social
                        display: grid
                        grid-template-columns: 30% 30% 30%
                        align-items: center
                        justify-items: center
                        margin-top: 20px
                        li
                            margin: 0 10px
                            a
                                img
                                    transition: 0.3s
                                    &:hover
                                        transform: scale(1.2)
                iframe
                    position: relative
                    width: 100%
                    height: 100%
                    border-radius: 30px
            @media screen and (max-width: 600px)
                padding: 0
                align-content: center
                justify-items: center
                height: 400px
                min-height: 400px
                div.contacts_content
                    margin: 0 auto
                    width: 99%
                    height: 300px
                    div.working_mode
                        padding: 0
                        padding: 0 0 0 10px
                        width: 150px
                        height: 75%
                        margin-top: 10px
                        p
                            margin-top: 0px
                            font-size: 12px
                            span
                                font-size: 14px
                                font-weight: 400
                        a.contacts_tel
                            margin-top: 15px
                            font-size: 16px
                        ul.contacts_social
                            margin-top: 15px
                            margin-left: -10px
                            li
                                a
                                    img
                                        width: 25px
                                        height: 25px

    footer
        grid-area: footer
        width: 1030px
        @media screen and (max-width: 600px)
            display: none
        div.footer_content
            display: grid
            grid-template-rows: 1fr 1fr
            align-items: center
            justify-items: center
            p.footer_descript
                font-size: 10px
                color: #828282
                text-align: center
            p.footer_copyright
                font-size: 12px
                // color: #4F4F4F
                span
                    font-size: 14px
                    // color: #4F4F4F
